.main--figuras {
    display: flex;
    gap: 0.5rem;
    margin: 0 2rem;
    height: 66rem;
}
.calcular--cuadrado,
.calcular--circulo {
    width: 70%;
    height: 45rem;
}
.calcular--triangulo {
    width: 70%;
    height: 99%;
}